.homeContactMain{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.homeContactImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.5));
}
.homeContactOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* adjust darkness here */
    z-index: 2;
}

/* Metin katmanı */
.homeContactText {
    position: absolute;
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 3rem;
    z-index: 3;
display: flex;
background-color: #1b3f77;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}

.homeContactText h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.homeContactText p {
    max-width: 600px;
    margin: auto;
    font-size: 1rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.homeContact1Main h1, .homeContact2Main h1, .homeContact3Main h1 {
    color: #41a8e0;
}

.homeContactLink{
    color: white;
    background-color: #41a8e0;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 30px !important;
    width: max-content;
    font-size: 18px;
}

.homeContactLink:hover {
    background-color: #368cbb;
}

@media (max-width: 1024px) {

    .homeContactMain{
        width: 100%;

    }
    .homeContactComponent{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .homeContactText{
        width: 90%;
        padding: 30px;
    }
}